.order-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  background-color: #f0f3f6;
  padding-bottom: 60px;
}

.item {
  margin-top: 16px;
  background-color: #fff;
}

.content {
  padding: 10px 0px;
}

.item-row {
  padding: 5px 16px;
  font-size: 12px;
  color: #9b9898;
}

.item-row-opt {
  display: flex;
  padding: 5px 16px;
  font-size: 14px;
  color: #9b9898;
  flex-direction: row-reverse
}

.btn {
  margin-left: 5px;
}